<nav class="navbar navbar-dark bg-light ">
  <a class="navbar-brand text-black ms-3" (click)="getMovies()">MOVIES</a>
 <!-- <form class="d-flex me-2" (ngSubmit)=searchMovies(filter.value)>
    <input class="form-control me-2" style="border: 1.3px solid lightslategray;"
           type="search" placeholder="Search movie"
           aria-label="Search" #filter>
    <button class="btn btn-secondary me-2" type="submit">Search</button>
  </form>-->

  <form class="d-flex me-2">
    <input class="form-control me-2" style="border: 1.3px solid lightslategray;"
           type="search" placeholder="Search movie"
           aria-label="Search" [(ngModel)]="searchTerm"
           (input)="searchMoviesDynamique(searchTerm)"
           name="search"

    >

  </form>

  <button class="btn btn-secondary mx-1" (click)="getFavorites()">FAVORITES</button>
  <button *ngIf="isAuthenticated" class="btn btn-secondary mx-1" (click)="onLogout()">Logout</button>
  <button *ngIf="!isAuthenticated" class="btn btn-secondary mx-1" (click)="onLogin()">SingIn</button>


</nav>

<div class="container mt-5 mx-5 ">

  <div class="row ms-5">
    <div class="col-md-4" *ngFor="let movie of moviesSrch">
      <div class="card mb-4 mx-auto shadow-sm" style="width: 18rem;">
        <img src="https://image.tmdb.org/t/p/w300{{movie.poster_path}}" alt="Image de {{movie.title}}" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{movie.title}}</h5>
          <p class="card-text">Date de sortie : {{movie.release_date}}</p>
          <p class="card-text">Moyenne des votes :{{movie.vote_average}} </p>
          <div class="d-flex-row ">
            <a [routerLink]="['/details', movie.id ]" class="btn btn-dark ms-3">Details</a>
            <i [class]="movie.favorite ? 'bi bi-heart-fill ms-3' : 'bi bi-heart ms-3'" (click)="toggleFavorite(movie)"></i>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>








