<div class="signup-container">
    <app-alert
    [message]="error"
    *ngIf="error"
    (close)="onHandleError()"
  ></app-alert>
  <div class="signup-form">
    <h1>Sign Up</h1>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmitSignUp()">
      <input
          type="email"
          formControlName="email"
          placeholder="Email"
          class="form-control"
        />
        <div
          class="error-message"
          *ngIf="
            signUpForm.get('email').hasError('required') &&
            signUpForm.get('email').touched
          "
        >
          Email is required.
        </div>
        <div
          class="error-message"
          *ngIf="
            signUpForm.get('email').hasError('email') &&
            signUpForm.get('email').touched
          "
        >
          Invalid email format.
        </div>
        <input
          type="password"
          formControlName="password"
          placeholder="Password"
          class="form-control"
        />
        <div
          class="error-message"
          style="color: aliceblue !important"
          *ngIf="
            signUpForm.get('password').hasError('required') &&
            signUpForm.get('password').touched
          "
        >
          Password is required.
        </div>
        <div
          class="error-message"
          style="color: aliceblue !important"
          *ngIf="
            signUpForm.get('password').hasError('minlength') &&
            signUpForm.get('password').touched
          "
        >
          Password must be at least 6 characters long.
        </div>
      <button class="btn" type="submit" [disabled]="signUpForm.invalid">
            Sign up
          </button>
    </form>
    <p class="login-link">Already a member? <a (click)="onSignin()">Sign in now</a></p>
  </div>
</div>
