
<div class="background container-fluid my-5 bg-dark ps-5"
     [ngStyle]="{'background-image': 'url(https://image.tmdb.org/t/p/w1280' + movieDetails?.backdrop_path + ')',
        'position': 'relative',
  'background-size': 'cover',
  'background-repeat': 'no-repeat',
  'background-position':'center'}">
  <div style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; background: rgba(0, 0, 0, 0.5);"></div>

  <div class=" mb-3 mx-5">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://image.tmdb.org/t/p/w300{{movieDetails.poster_path}}"
             alt="Image de {{movieDetails.title}}"
             class="img-fluid rounded-1 my-3">
      </div>
      <div class="col-md-8 m-sm-auto ">
        <div class="container bg-black bg-opacity-50 card-body text-light p-5">
          <h1 class="card-title">{{movieDetails.title}}</h1>
          <p class=" container card-text ms-auto">{{movieDetails.overview}}</p>
          <p class="card-text">Adult:{{movieDetails.adult?" YES":" NO"}} </p>
          <p class="card-text">Average vote: {{movieDetails.vote_average}}</p>
          <p class="card-text">Popularity: {{movieDetails.popularity}}</p>
          <p class="card-text">RunTimes: {{movieDetails.runtime}}</p>
          <div class="flex-row" >

            <span class="badge rounded-pill text-bg-warning" *ngFor="let genre of movieDetails.genres">{{genre.name}}</span>


          </div>


        </div>
      </div>
    </div>
  </div>

</div>
<div class="container my-4 pb-2">
  <h3>Laissez un commentaire</h3>
  <form (ngSubmit)="submitComment()">
    <div class="mb-3">
      <input type="text" class="form-control" [(ngModel)]="newComment.auteur" name="auteur" placeholder="Votre nom..." />
      <textarea class="form-control" rows="3" [(ngModel)]="newComment.contenu" name="contenu" placeholder="Votre commentaire..."></textarea>
    </div>
    <button type="submit" class="btn btn-dark">Poster</button>
  </form>

  <!--<div class="mt-4 m-3">
    <h5>Commentaires:</h5>
    <div *ngFor="let comment of comments" class="mt-2">
      <p>Auteur: {{ comment?.auteur }}</p>
      <p>Commentaire: {{ comment?.contenu }}</p>
    </div>
  </div>-->





<!--  commentaire 2-->

  <div class="container  border-top mt-3" style="border-top-width: 8px; border-color: darkslategray">
    <div class="row">
      <div class="col-md-8">
        <div class="page-header">
          <h1>Comments: <small class="pull-right">{{ comments.length }} comments</small></h1>
        </div>
        <div class="comments-list">
          <div *ngFor="let comment of comments" class="d-flex align-items-center mb-3 border-bottom">
            <div class="initials-circle mr-3 d-flex align-items-center justify-content-center" style="width: 50px; height: 50px; border-radius: 50%; background-color: black; color: white; font-size: 20px;">
              {{ comment.auteur[0].toUpperCase() }}
            </div>
            <div class="ms-3">
              <h4 class="media-heading user_name">{{ comment.auteur }}</h4>
              <p>{{ comment.contenu }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>








</div>

